:root {
  --xcg-btn-height: 48px;
  --xcg-btn-padding-v: 12px;
  --xcg-btn-padding-h: 30px;
  --xcg-btn-font-size: 20px;
  --xcg-btn-min-width: 260px;

  --xcg-btn-small-radius: 8px;
  --xcg-btn-medium-radius: 16px;
  --xcg-btn-large-radius: 20px;

  --xcg-btn-small-max-width: 320px;
  --xcg-btn-medium-max-width: 400px;
  --xcg-btn-large-max-width: 480px;

  --xcg-btn-icon-gap: 16px;
  --xcg-btn-icon-height: calc(var(--xcg-btn-height) - (var(--xcg-btn-padding-v) * 2));

  --xcg-btn-icon-1-width: 49px;
  --xcg-btn-icon-1-height: 25px;
  --xcg-btn-icon-1-m-v: calc((var(--xcg-btn-icon-height) - var(--xcg-btn-icon-1-height)) / 2);
  --xcg-btn-icon-1-margin: var(--xcg-btn-icon-1-m-v) var(--xcg-btn-icon-gap) var(--xcg-btn-icon-1-m-v) 0px;

  --xcg-btn-icon-2-width: 46px;
  --xcg-btn-icon-2-height: 30px;
  --xcg-btn-icon-2-m-v: calc((var(--xcg-btn-icon-height) - var(--xcg-btn-icon-2-height)) / 2);
  --xcg-btn-icon-2-margin: var(--xcg-btn-icon-2-m-v) var(--xcg-btn-icon-gap) var(--xcg-btn-icon-2-m-v) 0px;

  --xcg-btn-icon-3-width: 32px;
  --xcg-btn-icon-3-height: 29px;
  --xcg-btn-icon-3-m-v: calc((var(--xcg-btn-icon-height) - var(--xcg-btn-icon-3-height)) / 2);
  --xcg-btn-icon-3-margin: var(--xcg-btn-icon-3-m-v) var(--xcg-btn-icon-gap) var(--xcg-btn-icon-3-m-v) 0px;

  --xcg-btn-light-icon-1: url("assets/logo-light-1.svg");
  --xcg-btn-dark-icon-1: url("assets/logo-dark-1.svg");
  --xcg-btn-brand-icon-1: url("assets/logo-brand-1.svg");

  --xcg-btn-light-icon-2: url("assets/logo-light-2.svg");
  --xcg-btn-dark-icon-2: url("assets/logo-dark-2.svg");
  --xcg-btn-brand-icon-2: url("assets/logo-brand-2.svg");

  --xcg-btn-light-icon-3: url("assets/logo-light-3.svg");
  --xcg-btn-dark-icon-3: url("assets/logo-dark-3.svg");
  --xcg-btn-brand-icon-3: url("assets/logo-brand-3.svg");

  --xcg-btn-light-color: #fff;
  --xcg-btn-light-color-disabled: #93949a;
  --xcg-btn-light-background: #18171c;
  --xcg-btn-light-background-disabled: #c8cad0;

  --xcg-btn-dark-color: #070708;
  --xcg-btn-dark-color-disabled: #7a7490;
  --xcg-btn-dark-background: #f7f7f8;
  --xcg-btn-dark-background-disabled: #413960;

  --xcg-btn-brand-color: #fff;
  --xcg-btn-brand-background: #6939f9;
  --xcg-btn-brand-light-color-disabled: #93949a;
  --xcg-btn-brand-light-background-disabled: #c8cad0;
  --xcg-btn-brand-dark-color-disabled: #7a7490;
  --xcg-btn-brand-dark-background-disabled: #413960;

  --xcg-btn-color: var(--xcg-btn-light-color);
  --xcg-btn-color-disabled: var(--xcg-btn-light-color-disabled);
  --xcg-btn-background: var(--xcg-btn-light-background);
  --xcg-btn-background-disabled: var(--xcg-btn-light-background-disabled);

  --xcg-btn-extra-color: #c8cad0;
  --xcg-btn-extra-background: #2f2f37;
}

/* Reset */
.xcg-btn,
.xcg-btn * {
  font-style: normal;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Button */
.xcg-btn {
  font-family: "Segoe UI", "San Francisco", "Helvetica Neue", "Roboto", "Ubuntu", system-ui, sans-serif;

  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  width: -webkit-fit-content;
  width: -moz-fit-content;

  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  min-width: var(--xcg-btn-min-width);
  max-width: var(--xcg-btn-medium-max-width);

  color: var(--xcg-btn-extra-color);
  font-size: var(--xcg-btn-font-size);
  border-radius: var(--xcg-btn-small-radius);
  background-color: var(--xcg-btn-extra-background);

  opacity: 1;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-transition: opacity 0.3s, color 0.3s, background-color 0.3s;
  -o-transition: opacity 0.3s, color 0.3s, background-color 0.3s;
  transition: opacity 0.3s, color 0.3s, background-color 0.3s;
}

/* Text */
.xcg-btn b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  position: relative;
  max-width: inherit;
  min-width: inherit;

  height: var(--xcg-btn-height);
  min-height: var(--xcg-btn-height);
  max-height: var(--xcg-btn-height);
  color: var(--xcg-btn-light-color);
  line-height: var(--xcg-btn-icon-height);
  background-color: var(--xcg-btn-light-background);
  padding: var(--xcg-btn-padding-v) var(--xcg-btn-padding-h);

  overflow: hidden;
  font-size: inherit;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.01em;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

/* Extra text */
.xcg-btn i {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 8px 10px;
  color: inherit;
  font-size: 0.6em;
  font-weight: 400;
  font-style: normal;
  white-space: pre-wrap;
}
.xcg-btn i:empty {
  display: none;
}

/* Theme */
.xcg-btn:hover,
.xcg-btn.hover {
  opacity: 0.85;
}
.xcg-btn.disabled,
.xcg-btn[disabled] {
  opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.xcg-btn.disabled b,
.xcg-btn[disabled] b {
  color: var(--xcg-btn-color-disabled);
  background-color: var(--xcg-btn-background-disabled);
}
.xcg-btn.disabled b:before,
.xcg-btn[disabled] b:before {
  opacity: 0.5;
}
.xcg-btn-light b {
  color: var(--xcg-btn-light-color);
  background-color: var(--xcg-btn-light-background);
}
.xcg-btn-light.disabled b,
.xcg-btn-light[disabled] b {
  color: var(--xcg-btn-light-color-disabled);
  background-color: var(--xcg-btn-light-background-disabled);
}
.xcg-btn-dark b {
  color: var(--xcg-btn-dark-color);
  background-color: var(--xcg-btn-dark-background);
}
.xcg-btn-dark.disabled b,
.xcg-btn-dark[disabled] b {
  color: var(--xcg-btn-dark-color-disabled);
  background-color: var(--xcg-btn-dark-background-disabled);
}

.xcg-btn-brand-light b {
  color: var(--xcg-btn-brand-color);
  background-color: var(--xcg-btn-brand-background);
}
.xcg-btn-brand-light.disabled b,
.xcg-btn-brand-light[disabled] b {
  color: var(--xcg-btn-brand-light-color-disabled);
  background-color: var(--xcg-btn-brand-light-background-disabled);
}
.xcg-btn-brand-dark b {
  color: var(--xcg-btn-brand-color);
  background-color: var(--xcg-btn-brand-background);
}
.xcg-btn-brand-dark.disabled b,
.xcg-btn-brand-dark[disabled] b {
  color: var(--xcg-btn-brand-dark-color-disabled);
  background-color: var(--xcg-btn-brand-dark-background-disabled);
}

/* Size */
.xcg-btn-size-wide {
  width: 100%;
  max-width: 100%;
}
.xcg-btn-size-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
}
.xcg-btn-size-small {
  width: 100%;
  max-width: var(--xcg-btn-small-max-width);
}
.xcg-btn-size-medium {
  width: 100%;
  max-width: var(--xcg-btn-medium-max-width);
}
.xcg-btn-size-large {
  width: 100%;
  max-width: var(--xcg-btn-large-max-width);
}

/* Radius */
.xcg-btn-round-small {
  border-radius: var(--xcg-btn-small-radius);
}
.xcg-btn-round-medium {
  border-radius: var(--xcg-btn-medium-radius);
}
.xcg-btn-round-large {
  border-radius: var(--xcg-btn-large-radius);
}
.xcg-btn-round {
  border-radius: calc(var(--xcg-btn-height) / 2);
}
.xcg-btn-round-none {
  border-radius: 0;
}

/* Icon */
.xcg-btn b::before {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 20;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  content: var(--xcg-btn-light-icon-1);
  width: var(--xcg-btn-icon-1-width);
  height: var(--xcg-btn-icon-1-height);
  margin: var(--xcg-btn-icon-1-margin);
}
.xcg-btn-light b::before {
  content: var(--xcg-btn-light-icon-1);
  width: var(--xcg-btn-icon-1-width);
  height: var(--xcg-btn-icon-1-height);
  margin: var(--xcg-btn-icon-1-margin);
}
.xcg-btn-dark b::before {
  content: var(--xcg-btn-dark-icon-1);
  width: var(--xcg-btn-icon-1-width);
  height: var(--xcg-btn-icon-1-height);
  margin: var(--xcg-btn-icon-1-margin);
}
.xcg-btn-brand-light b::before,
.xcg-btn-brand-dark b::before {
  content: var(--xcg-btn-brand-icon-1);
  width: var(--xcg-btn-icon-1-width);
  height: var(--xcg-btn-icon-1-height);
  margin: var(--xcg-btn-icon-1-margin);
}
.xcg-btn-light.xcg-btn-icon-1 b::before,
.xcg-btn-light.xcg-btn-animation-1 b::before,
.xcg-btn-light.xcg-btn-animation-2 b::before,
.xcg-btn-light.xcg-btn-animation-3 b::before {
  content: var(--xcg-btn-light-icon-1);
  width: var(--xcg-btn-icon-1-width);
  height: var(--xcg-btn-icon-1-height);
  margin: var(--xcg-btn-icon-1-margin);
}
.xcg-btn-light.xcg-btn-icon-2 b::before {
  content: var(--xcg-btn-light-icon-2);
  width: var(--xcg-btn-icon-2-width);
  height: var(--xcg-btn-icon-2-height);
  margin: var(--xcg-btn-icon-2-margin);
}
.xcg-btn-light.xcg-btn-icon-3 b::before {
  content: var(--xcg-btn-light-icon-3);
  width: var(--xcg-btn-icon-3-width);
  height: var(--xcg-btn-icon-3-height);
  margin: var(--xcg-btn-icon-3-margin);
}
.xcg-btn-dark.xcg-btn-icon-1 b::before,
.xcg-btn-dark.xcg-btn-animation-1 b::before,
.xcg-btn-dark.xcg-btn-animation-2 b::before,
.xcg-btn-dark.xcg-btn-animation-3 b::before {
  content: var(--xcg-btn-dark-icon-1);
  width: var(--xcg-btn-icon-1-width);
  height: var(--xcg-btn-icon-1-height);
  margin: var(--xcg-btn-icon-1-margin);
}
.xcg-btn-dark.xcg-btn-icon-2 b::before {
  content: var(--xcg-btn-dark-icon-2);
  width: var(--xcg-btn-icon-2-width);
  height: var(--xcg-btn-icon-2-height);
  margin: var(--xcg-btn-icon-2-margin);
}
.xcg-btn-dark.xcg-btn-icon-3 b::before {
  content: var(--xcg-btn-dark-icon-3);
  width: var(--xcg-btn-icon-3-width);
  height: var(--xcg-btn-icon-3-height);
  margin: var(--xcg-btn-icon-3-margin);
}
.xcg-btn-brand-light.xcg-btn-icon-1 b::before,
.xcg-btn-brand-dark.xcg-btn-icon-1 b::before,
.xcg-btn-brand-light.xcg-btn-animation-1 b::before,
.xcg-btn-brand-dark.xcg-btn-animation-1 b::before,
.xcg-btn-brand-light.xcg-btn-animation-2 b::before,
.xcg-btn-brand-dark.xcg-btn-animation-2 b::before,
.xcg-btn-brand-light.xcg-btn-animation-3 b::before,
.xcg-btn-brand-dark.xcg-btn-animation-3 b::before {
  content: var(--xcg-btn-brand-icon-1);
  width: var(--xcg-btn-icon-1-width);
  height: var(--xcg-btn-icon-1-height);
  margin: var(--xcg-btn-icon-1-margin);
}
.xcg-btn-brand-light.xcg-btn-icon-2 b::before,
.xcg-btn-brand-dark.xcg-btn-icon-2 b::before {
  content: var(--xcg-btn-brand-icon-2);
  width: var(--xcg-btn-icon-2-width);
  height: var(--xcg-btn-icon-2-height);
  margin: var(--xcg-btn-icon-2-margin);
}
.xcg-btn-brand-light.xcg-btn-icon-3 b::before,
.xcg-btn-brand-dark.xcg-btn-icon-3 b::before {
  content: var(--xcg-btn-brand-icon-3);
  width: var(--xcg-btn-icon-3-width);
  height: var(--xcg-btn-icon-3-height);
  margin: var(--xcg-btn-icon-3-margin);
}

/* Animations */
@-webkit-keyframes xcgBtnFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes xcgBtnFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.xcg-btn svg {
  display: inline-block;
  vertical-align: top;
  width: 130px !important;
  height: 75px !important;
}
.xcg-btn-animation-1 svg {
  margin-top: -22px;
  margin-left: -38px;
  margin-right: -22px;
}
.xcg-btn-animation-2 svg {
  margin-top: -28px;
  margin-left: -38px;
  margin-right: -22px;
}
.xcg-btn-animation-3 svg {
  margin-top: -16px;
  margin-left: -38px;
  margin-right: -22px;
}
.xcg-btn-animation-1 svg,
.xcg-btn-animation-2 svg {
  -webkit-transform: scaleX(-1) !important;
  -ms-transform: scaleX(-1) !important;
  transform: scaleX(-1) !important;
}
a.xcg-btn.xcg-btn-animation-1 b::before,
a.xcg-btn.xcg-btn-animation-2 b::before,
a.xcg-btn.xcg-btn-animation-3 b::before {
  opacity: 0;
  margin-left: calc(var(--xcg-btn-icon-2-m-v) + 13px);
  margin-right: calc(var(--xcg-btn-icon-2-m-v) + 14px);
  -webkit-animation: xcgBtnFadeIn 1s ease 1.5s forwards;
  animation: xcgBtnFadeIn 1s ease 1.5s forwards;
}
a.xcg-btn.xcg-btn-animation-ready b,
a.xcg-btn.xcg-btn-animation-ready b,
a.xcg-btn.xcg-btn-animation-ready b {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
a.xcg-btn.xcg-btn-animation-ready b::before,
a.xcg-btn.xcg-btn-animation-ready b::before,
a.xcg-btn.xcg-btn-animation-ready b::before {
  display: none;
}
